[Unit]
Description=Your Node.js Application
After=network.target

[Service]
ExecStart=/test-api/node_modules/.bin/ts-node /test-api/src/app.ts
Restart=always
User=nobody
Group=nogroup
Environment=PATH=/test-api/node_modules/.bin
Environment=NODE_ENV=production
WorkingDirectory=/test-api

[Install]
WantedBy=multi-user.target
