[Unit]
Description=Test API
After=network.target

[Service]
ExecStart=/home/ec2-user/test-api/node_modules/.bin/ts-node /home/ec2-user/test-api/src/app.ts
Restart=always
User=ec2-user
Group=ec2-user
Environment=PATH=/home/ec2-user/test-api/node_modules/.bin
Environment=NODE_ENV=production
WorkingDirectory=/home/ec2-user/test-api

[Install]
WantedBy=multi-user.target
